.timer__body {
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  z-index: 4;
  text-align: center;
  overflow: hidden;
}